/*
#userTable {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    border: 1px solid black;
}

tr td {
    border: 1px solid black;
}

tr th {
    border: 1px solid black;
}
*/

body {
    text-align: center;
}

h1 {
    background-image: linear-gradient(90deg, #ff00dd, #fb8702);
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    font-size: 500%;
}

button {
    margin-left: 25%;
}